<div class="row my-5">
  <div class="col text-center">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h3 id="example_easing">Easing</h3>
    <a
      href="https://codesandbox.io/s/carouzel-easing-vkuxo?file=/index.html"
      target="_blank"
      class="btn btn-sm btn-outline-info"
      ><span class="material-icons">code</span> View on Codesandbox</a
    >
    <br /><br />
  </div>
</div>
<div class="row pb-5">
  <form
    id="__carouzel_15form"
    class="m-0 row row-cols-lg-auto g-3 justify-content-center align-items-end"
  >
    <div class="col-12 text-start">
      <label for="easingfnselect">Easing function</label>
      <select class="form-select" id="easingfnselect">
        <option value="linear" selected>Linear</option>
        <option value="easeInQuad">EaseInQuad</option>
        <option value="easeOutQuad">EaseOutQuad</option>
        <option value="easeInOutQuad">EaseInOutQuad</option>
        <option value="easeInCubic">EaseInCubic</option>
        <option value="easeOutCubic">EaseOutCubic</option>
        <option value="easeInOutCubic">EaseInOutCubic</option>
        <option value="easeInQuart">EaseInQuart</option>
        <option value="easeOutQuart">EaseOutQuart</option>
        <option value="easeInOutQuart">EaseInOutQuart</option>
        <option value="easeInQuint">EaseInQuint</option>
        <option value="easeOutQuint">EaseOutQuint</option>
        <option value="easeInOutQuint">EaseInOutQuint</option>
      </select>
    </div>

    <div class="col-12 text-start">
      <label for="effectfnselect">Effect</label>
      <select class="form-select" id="effectfnselect">
        <option value="scroll" selected>Scroll</option>
        <option value="slide">Slide</option>
        <option value="fade">Fade</option>
      </select>
    </div>

    <div class="col-12 text-start">
      <label for="easingNumText">Time in miliseconds</label>
      <input
        class="form-control"
        id="easingNumText"
        type="number"
        min="0"
        value="500"
      />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Apply</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col">
    <section
      data-carouzel
      id="__carouzel_15"
      aria-roledescription="carousel"
      aria-label="Carouzel showing easing presets"
    >
      <div data-carouzel-trackwrapper>
        <div data-carouzel-trackmask>
          <div data-carouzel-trackouter>
            <div data-carouzel-track aria-live="polite">
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="1 of 8"
              >
                01
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="2 of 8"
              >
                02
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="3 of 8"
              >
                03
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="4 of 8"
              >
                04
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="5 of 8"
              >
                05
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="6 of 8"
              >
                06
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="7 of 8"
              >
                07
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="8 of 8"
              >
                08
              </div>
            </div>
          </div>
        </div>
        <div data-carouzel-controlswrapper>
          <button
            type="button"
            data-carouzel-previousarrow
            aria-label="Previous"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"
              />
            </svg>
          </button>
          <button type="button" data-carouzel-nextarrow aria-label="Next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z" />
            </svg>
          </button>
        </div>
      </div>
      <div data-carouzel-pageinfo>
        <em data-carouzel-currentpage></em> /
        <em data-carouzel-totalpages></em>
      </div>
      <div data-carouzel-navigationwrapper>
        <ul data-carouzel-navigation></ul>
      </div>
    </section>
  </div>
</div>
