<div class="row my-5">
  <div class="col text-center">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h3 id="example_events_methods">Events &amp; Methods</h3>
    <a
      href="https://codesandbox.io/s/carouzel-events-and-methods-0s52x?file=/index.html"
      target="_blank"
      class="btn btn-sm btn-outline-info"
      ><span class="material-icons">code</span> View on Codesandbox</a
    >
    <br /><br />
  </div>
</div>
<div class="row pb-5">
  <div class="col-12 col-xl-6 text-center text-xl-end mb-3 mb-xl-0">
    <div class="d-grid d-md-inline-block gap-2 mb-3 mb-md-0">
      <button
        type="button"
        id="destroybtn"
        class="btn btn-block btn-danger mx-1"
      >
        Destroy
      </button>
      <button type="button" id="initbtn" class="btn btn-success mx-1" hidden>
        initialize
      </button>
    </div>
    <button type="button" id="gotoprevbtn" class="btn btn-primary mx-1">
      Go to Previous
    </button>
    <button type="button" id="gotonextbtn" class="btn btn-primary mx-1">
      Go to Next
    </button>
  </div>
  <div class="col-12 col-xl-6 text-center text-xl-start">
    <div class="input-group my-3 my-md-0 w-75 w-md-50 d-inline-flex">
      <span class="input-group-text" id="basic-addon1">Go to Slide</span>
      <input
        type="number"
        value="1"
        id="gotoslideinput"
        class="form-control"
        min="1"
        max="8"
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <section
      data-carouzel
      id="__carouzel_8"
      aria-roledescription="carousel"
      aria-label="Carouzel showing events and methods"
    >
      <div data-carouzel-trackwrapper>
        <div data-carouzel-trackmask>
          <div data-carouzel-trackouter>
            <div data-carouzel-track aria-live="polite">
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="1 of 8"
              >
                01
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="2 of 8"
              >
                02
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="3 of 8"
              >
                03
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="4 of 8"
              >
                04
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="5 of 8"
              >
                05
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="6 of 8"
              >
                06
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="7 of 8"
              >
                07
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="8 of 8"
              >
                08
              </div>
            </div>
          </div>
        </div>
        <div data-carouzel-controlswrapper>
          <button
            type="button"
            data-carouzel-previousarrow
            aria-label="Previous"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"
              />
            </svg>
          </button>
          <button type="button" data-carouzel-nextarrow aria-label="Next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z" />
            </svg>
          </button>
        </div>
      </div>
      <div data-carouzel-pageinfo>
        <em data-carouzel-currentpage></em> /
        <em data-carouzel-totalpages></em>
      </div>
      <div data-carouzel-navigationwrapper>
        <ul data-carouzel-navigation></ul>
      </div>
    </section>
  </div>
</div>
<div class="row pt-3 pb-5">
  <div class="col text-center">
    <button type="button" id="btnbeforeinit" class="btn btn-warning btn-sm m-1">
      Event Before Init
    </button>
    <button type="button" id="btnafterinit" class="btn btn-dark btn-sm m-1">
      Event After Init
    </button>
    <button
      type="button"
      id="btnbeforescroll"
      class="btn btn-secondary btn-sm m-1"
    >
      Event Before Scroll
    </button>
    <button
      type="button"
      id="btnafterscroll"
      class="btn btn-success btn-sm m-1"
    >
      Event After Scroll
    </button>
  </div>
</div>
