<div class="row my-5">
  <div class="col text-center">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h3 id="example_hash_nav">Hash Navigation</h3>
    <a
      href="https://codesandbox.io/s/carouzel-hash-navigation-wppyo?file=/index.html"
      target="_blank"
      class="btn btn-sm btn-outline-info"
      ><span class="material-icons">code</span> View on Codesandbox</a
    >
    <br /><br />
  </div>
</div>
<div class="row pb-5">
  <form
    class="m-0 row row-cols-lg-auto g-3 justify-content-center align-items-center"
  >
    <div class="col-12 text-center">
      <button
        type="button"
        id="__carouzel_17_btn"
        class="btn btn-primary btn-sm mx-1 mb-2"
      >
        Add hash and refresh
      </button>
      <button
        type="button"
        id="__carouzel_17_btnrem"
        class="btn btn-dark btn-sm mx-1 mb-2"
      >
        Remove hash and refresh
      </button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col">
    <section
      data-carouzel
      id="__carouzel_17"
      aria-roledescription="carousel"
      aria-label="Carouzel scrolling based on the hash in url"
    >
      <div data-carouzel-trackwrapper>
        <div data-carouzel-trackmask>
          <div data-carouzel-trackouter>
            <div data-carouzel-track aria-live="polite">
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="1 of 6"
                id="__carouzel_17_id_1"
              >
                01
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="2 of 6"
                id="__carouzel_17_id_2"
              >
                02
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="3 of 6"
                id="__carouzel_17_id_3"
              >
                03
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="4 of 6"
                id="__carouzel_17_id_4"
              >
                04
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="5 of 6"
                id="__carouzel_17_id_5"
              >
                05
              </div>
              <div
                data-carouzel-slide
                role="group"
                aria-roledescription="slide"
                aria-label="6 of 6"
                id="__carouzel_17_id_6"
              >
                06
              </div>
            </div>
          </div>
        </div>
        <div data-carouzel-controlswrapper>
          <button
            type="button"
            data-carouzel-previousarrow
            aria-label="Previous"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"
              />
            </svg>
          </button>
          <button type="button" data-carouzel-nextarrow aria-label="Next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z" />
            </svg>
          </button>
        </div>
      </div>
      <div data-carouzel-pageinfo>
        <em data-carouzel-currentpage></em> /
        <em data-carouzel-totalpages></em>
      </div>
      <div data-carouzel-navigationwrapper>
        <ul data-carouzel-navigation></ul>
      </div>
    </section>
  </div>
</div>
