@import './imports';
// @import './../../../node_modules/bootstrap/scss/bootstrap';
@import './../../node_modules/bootstrap/scss/bootstrap';
@import './config/base';
@import './config/typography';

[data-carouzel], [data-carouzel-auto] {
  [data-carouzel-slide] {
    align-items: center;
    background-color: #fff;
    border-left: 1px solid red;
    border-right: 1px solid red;
    color: black;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    line-height: 160px;
    width: 100%;
  }
}
#__carouzel_10[data-carouzel] {
  [data-carouzel-navigation] {
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
}