@import './imports';
// @import './../../../node_modules/bootstrap/scss/bootstrap';
@import './../../node_modules/bootstrap/scss/bootstrap';
@import './config/base';
@import './config/typography';

@for $i from 1 through 20 {
  [data-carouzelslide]:nth-child(#{$i}) {
    [data-carouzelslideinner]:after {
      content: '#{$i}';
    }
  }
}
[data-carouzelslide] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
  border: 1px solid transparent;
  [data-carouzelslideinner] {
    background-color: #fff;
    width: 100%;
  }
  &:nth-child(odd) {
    [data-carouzelslideinner] {
      border-left: 1px solid red;
      border-right: 1px solid red;
      color: red;
    }
  }
  &:nth-child(even) {
    [data-carouzelslideinner] {
      border-left: 1px solid black;
      border-right: 1px solid black;
      color: black;
    }
  }
}