@import './imports';
// @import './../../../node_modules/bootstrap/scss/bootstrap';
@import './../../node_modules/bootstrap/scss/bootstrap';
@import './config/base';
@import './config/typography';

[data-carouzel], [data-carouzelauto] {
  [data-carouzelslide] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    border-left: 1px solid red;
    border-right: 1px solid red;
    color: black;
    background-color: #fff;
    width: 100%;
  }
}