.__carouzel {
  // opacity: 0;
  // visibility: hidden;
  &, * {
    box-sizing: border-box;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  [data-carouzelwrap] {
    position: relative;
  }
  [data-carouzelprev], [data-carouzelnext] {
    position: absolute;
    top: 50%;
    height: 48px;
    width: 48px;
    transform: translate(0, -50%);
    font-size: 1px;
    color: transparent;
    background-color: red;
  }
  [data-carouzelprev] {
    left: 10px;
  }
  [data-carouzelnext] {
    right: 10px;
  }
  [data-carouzeltrack] {
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  [data-carouzelslide] {
    width: 100%;
    min-height: 500px;
  }
}
