[data-carouzel] {
  &,
  * {
    &,
    &:after,
    &:before {
      box-sizing: border-box;
    }
  }
  button:not(:disabled),
  [type='button']:not(:disabled),
  [type='reset']:not(:disabled),
  [type='submit']:not(:disabled) {
    cursor: pointer;
  }
  .__carouzel-hidden {
    display: none !important;
  }
  [data-carouzel-trackwrapper] {
    position: relative;
  }
  [data-carouzel-trackouter] {
    width: 100%;
  }
  [data-carouzel-trackmask] {
    overflow: hidden;
    width: 100%;
  }
  [data-carouzel-track] {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 1px;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
  }
  [data-carouzel-slide] {
    border: 1px solid transparent;
    width: 100%;
  }
  [data-carouzel-previousarrow],
  [data-carouzel-nextarrow],
  [data-carouzel-pause],
  [data-carouzel-play] {
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #ced4da;
    color: transparent;
    cursor: pointer;
    font-size: 1px;
    height: 40px;
    transition: all 250ms ease;
    width: 40px;
    z-index: 1;
    padding: 0;
    svg {
      cursor: pointer;
      height: 75%;
      width: 75%;
      fill: #212529;
    }
    &:hover,
    &:focus {
      background-color: #ced4da;
      opacity: 1;
    }
    &.__carouzel-disabled {
      cursor: not-allowed;
      opacity: 0.25;
      pointer-events: none;
      svg {
        cursor: not-allowed;
      }
    }
  }
  [data-carouzel-pause],
  [data-carouzel-play] {
    border-radius: 100%;
    bottom: 10px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }
  [data-carouzel-previousarrow],
  [data-carouzel-nextarrow] {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  [data-carouzel-previousarrow] {
    left: -48px;
  }
  [data-carouzel-nextarrow] {
    right: -48px;
  }
  [data-carouzel-navigation] {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  [data-carouzel-navigationwrapper] {
    margin: 1em 0;
  }
  [data-carouzel-navbutton] {
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #ced4da;
    color: #212529;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    line-height: 31px;
    margin: 0 5px;
    padding: 0;
    transition: background-color 250ms ease;
    width: 32px;
    &:hover,
    &:focus {
      background-color: #dee2e6;
    }
    &.__carouzel-active {
      background-color: #ced4da;
    }
    &.__carouzel-pagetitle {
      border-radius: 0;
      height: auto;
      line-height: normal;
      margin: 0;
      padding: 10px;
      text-align: left;
      width: 100%;
    }
  }
  &[data-carouzel-centered] {
    [data-carouzel-trackmask] {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &[data-carouzel-rtl] {
    [data-carouzel-track] {
      flex-direction: row-reverse;
    }
    [data-carouzel-navigation] {
      flex-direction: row-reverse;
    }
  }
  &.__carouzel-editmode {
    [data-carouzel-trackouter] {
      width: 100% !important;
    }
    [data-carouzel-track] {
      display: block;
      transform: translate3d(0, 0, 0) !important;
      width: 100% !important;
      [data-carouzel-slide] {
        width: 100% !important;
      }
    }
  }
}
