[data-carouzel], [data-carouzel-auto] {
  opacity: 0;
  visibility: hidden;
  &, * {
    &, &:after, &:before {
      box-sizing: border-box;
    }
  }
  .__carouzel-hidden {
    display: none !important;
  }
  [data-carouzel-trackwrapper] {
    position: relative;
    margin-bottom: 10px;
  }
  [data-carouzel-trackouter] {
    width: 100%; 
  }
  [data-carouzel-trackmask] {
    overflow: hidden;
    width: 100%;
  }
  [data-carouzel-track] {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 1px;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
  }
  [data-carouzel-slide] {
    border: 1px solid transparent;
    width: 100%;
  }
  [data-carouzel-previousarrow], [data-carouzel-nextarrow], [data-carouzel-pause], [data-carouzel-play] {
    background-color: rgba(#000, 0.15);
    border: 1px solid #000;
    color: transparent;
    cursor: pointer;
    font-size: 1px;
    height: 48px;
    opacity: 0.75;
    transition: all 250ms ease;
    width: 48px;
    z-index: 12;
    svg {
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
    &:hover, &:focus {
      background-color: rgba(#000, 0.25);
      opacity: 1;
    }
    &.__carouzel-disabled {
      cursor: not-allowed;
      opacity: 0.25;
      pointer-events: none;
      svg {
        cursor: not-allowed;
      }
    }
  }
  [data-carouzel-pause], [data-carouzel-play] {
    border-radius: 100%;
    bottom: 10px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }
  [data-carouzel-previousarrow], [data-carouzel-nextarrow] {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  [data-carouzel-previousarrow] {
    border-radius: 50% 0 0 50%;
    left: -48px;
  }
  [data-carouzel-nextarrow] {
    border-radius: 0 50% 50% 0;
    right: -48px;
  }
  [data-carouzel-navigation] {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
  }
  [data-carouzel-navigationwrapper] {
    margin-bottom: 1em;
  }
  [data-carouzel-navbutton] {
    background-color: rgba(#000, 0.5);
    border-radius: 100%;
    border: 1px solid #000;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    line-height: 31px;
    margin: 0 5px;
    padding: 0;
    transition: background-color 250ms ease;
    width: 32px;
    &:hover, &:focus {
      background-color: rgba(#000, 0.75);
    }
    &.__carouzel-active {
      background-color: #f00;
      border: 1px solid #f00;
    }
    &.__carouzel-pagetitle {
      border-radius: 0;
      height: auto;
      line-height: normal;
      margin: 0;
      padding: 10px;
      text-align: left;
      width: 100%;
    }
  }
  &.__carouzel-active {
    opacity: 1;
    visibility: visible;
  }
  &.__carouzel-centered {
    [data-carouzel-trackmask] {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.__carouzel-rtl {
    [data-carouzel-track], [data-carouzel-navigation] {
      flex-direction: row-reverse;
    }
  }
  &.__carouzel-editmode {
    [data-carouzel-trackouter] {
      width: 100% !important;
    }
    [data-carouzel-track] {
      display: block;
      transform: translate3d(0, 0, 0) !important;
      width: 100% !important;
      [data-carouzel-slide] {
        width: 100% !important;
      }
    }
  }
}
