<div class="max-wrap px-1">
  <div class="container-fluid">
    <div class="row mt-10">
      <div class="col text-center">
        <h2>Options</h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col overflow-auto">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th><kbd>activeClass</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel-active</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The CSS class applied to the shown/active elements in carouzel,
                such as shown slides and navigation dots.
              </td>
            </tr>
            <tr>
              <th><kbd>afterInitFn</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">function</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The event which can be fired after the carouzel is initialized.
                It takes a function as value.
              </td>
            </tr>
            <tr>
              <th><kbd>afterScrollFn</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">function</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The event which can be fired after the carouzel is animated to
                next set of slides. It takes a function as value.
              </td>
            </tr>
            <tr>
              <th><kbd>animationEffect</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >scroll</span
                >
                <br />
                <small>scroll, slide, fade</small>
              </td>
            </tr>
            <tr>
              <td colspan="2">Type of animation effect.</td>
            </tr>
            <tr>
              <th><kbd>animationSpeed</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">number</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >500</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">Animation speed in milliseconds.</td>
            </tr>
            <tr>
              <th><kbd>appendUrlHash</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >false</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `true`, carouzel tries to append the id attribute attached to
                the first active `data-carouzel-slide` to the window url, after
                the scroll happens.
              </td>
            </tr>
            <tr>
              <th><kbd>autoplay</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >false</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">Toggles the autoplay feature of the carouzel.</td>
            </tr>
            <tr>
              <th><kbd>autoplaySpeed</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">number</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >5000</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                Autoplay speed in milliseconds. If autoplay is enabled, the
                carouzel automatically animates to next set after this number of
                milliseconds.
              </td>
            </tr>
            <tr>
              <th><kbd>beforeInitFn</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">function</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The event which can be fired before the carouzel is initialized.
                It takes a function as value.
              </td>
            </tr>
            <tr>
              <th><kbd>beforeScrollFn</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">function</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The event which can be fired before the carouzel is animated to
                next set of slides. It takes a function as value.
              </td>
            </tr>
            <tr>
              <th><kbd>breakpoints</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">array</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                Carouzel is `mobile-first` implementation. The default settings
                are applied to all breakpoints, but as the following array is
                populated, the mentioned settings are extended from the default
                or configured options.<br /><br />
                <pre>
[{
<kbd>minWidth</kbd>: <span class="badge rounded-pill bg-info me-2">number</span
  >; The minimum device width at which the following settings need to be updated
<kbd>centerBetween</kbd>: <span class="badge rounded-pill bg-info me-2">number</span
  >;
<kbd>enableTouchSwipe</kbd>: <span class="badge rounded-pill bg-info me-2">boolean</span
  >;
<kbd>showArrows</kbd>: <span class="badge rounded-pill bg-info me-2">boolean</span
  >;
<kbd>showNavigation</kbd>: <span class="badge rounded-pill bg-info me-2">boolean</span
  >;
<kbd>slideGutter</kbd>: <span class="badge rounded-pill bg-info me-2">number</span
  >;
<kbd>slidesToScroll</kbd>: <span class="badge rounded-pill bg-info me-2">number</span
  >;
<kbd>slidesToShow</kbd>: <span class="badge rounded-pill bg-info me-2">number</span
  >;
<kbd>verticalHeight</kbd>: <span class="badge rounded-pill bg-info me-2">number</span
  >;
}]</pre>
              </td>
            </tr>
            <tr>
              <th><kbd>centerBetween</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">number</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >0</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The number of slides which should show up on the left and right
                of the active slides. This number is divided in half to show up
                on both slides.
              </td>
            </tr>
            <tr>
              <th><kbd>disabledClass</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel-disabled</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The CSS class applied to the disabled elements in carouzel, such
                as left and right arrows when there are no more scrollable
                slides.
              </td>
            </tr>
            <tr>
              <th><kbd>dotIndexClass</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel-pageindex</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                When the `useTitlesAsDots` is enabled, this CSS class is applied
                to the page number shown in the navigation dot.
              </td>
            </tr>
            <tr>
              <th><kbd>dotTitleClass</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel-pagetitle</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                When the `useTitlesAsDots` is enabled, this CSS class is applied
                to the page title shown in the navigation dot.
              </td>
            </tr>
            <tr>
              <th><kbd>duplicateClass</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel-duplicate</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The CSS class is applied to the duplicate slides element created
                for infinite scroll implementation.
              </td>
            </tr>
            <tr>
              <th><kbd>easingFunction</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >linear</span
                >
                <br />
                <small
                  >linear, easeInQuad, easeOutQuad, easeInOutQuad, easeInCubic,
                  easeOutCubic, easeInOutCubic, easeInQuart, easeOutQuart,
                  easeInOutQuart, easeInQuint, easeOutQuint,
                  easeInOutQuint</small
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The easing function used for animation effect.
              </td>
            </tr>
            <tr>
              <th><kbd>editModeClass</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel-editmode</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                This class can be used for custom CSS when the carouzel is
                displayed in certain CMS (like Adobe AEM) edit mode.
              </td>
            </tr>
            <tr>
              <th><kbd>enableKeyboard</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >true</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `false`, keyboard arrow events are not attached to the
                carouzel.
              </td>
            </tr>
            <tr>
              <th><kbd>enableTouchSwipe</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >true</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `false`, touch swipe events are not attached to the carouzel.
              </td>
            </tr>
            <tr>
              <th><kbd>hiddenClass</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel-hidden</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                This CSS class is used to hide the elements (like navigation or
                arrows) in certain breakpoint, works along with `showArrows` and
                `showNavigation`
              </td>
            </tr>
            <tr>
              <th><kbd>idPrefix</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If the id attribute is not assigned to the root element, this
                string can be used to generate and assign a random id attribute
                to the root element.
              </td>
            </tr>
            <tr>
              <th><kbd>isInfinite</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >true</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If the id attribute is not assigned to the root element, this
                string can be used to generate and assign a random id attribute
                to the root element.
              </td>
            </tr>
            <tr>
              <th><kbd>isRtl</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >false</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `true`, the right-to-left implementation is enabled.
              </td>
            </tr>
            <tr>
              <th><kbd>isVertical</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >false</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `true`, the carouzel layout will be changed from horizontal
                to vertical.
              </td>
            </tr>
            <tr>
              <th><kbd>nextDirectionClass</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel-next</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                This css class is attached to the root element while it is
                scrolled to the next set of slides.
              </td>
            </tr>
            <tr>
              <th><kbd>pauseOnHover</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >true</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `autoplay` is enabled, it can be paused when cursor is
                hovered on it. This behavior can be disabled by making this
                setting `false`.
              </td>
            </tr>
            <tr>
              <th><kbd>previousDirectionClass</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >__carouzel-previous</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                This css class is attached to the root element while it is
                scrolled to the previous set of slides.
              </td>
            </tr>
            <tr>
              <th><kbd>showArrows</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >true</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `false`, the arrows are not shown in certain or all
                breakpoints.
              </td>
            </tr>
            <tr>
              <th><kbd>showNavigation</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >true</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `false`, the navigation dots are not shown in certain or all
                breakpoints.
              </td>
            </tr>
            <tr>
              <th><kbd>slideGutter</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">number</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >0</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The gutter space between slides in certain or all breakpoints.
              </td>
            </tr>
            <tr>
              <th><kbd>slidesToScroll</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">number</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >1</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The number of slides to scroll at once in certain or all
                breakpoints.
              </td>
            </tr>
            <tr>
              <th><kbd>slidesToShow</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">number</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >1</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The number of slides to show at once in certain or all
                breakpoints.
              </td>
            </tr>
            <tr>
              <th><kbd>startAtIndex</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">number</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >1</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The slide index which should be the first one to show.
              </td>
            </tr>
            <tr>
              <th><kbd>syncWith</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">string</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The id of the carouzel slider which needs to be synced with. If
                specified in settings of the both carouzels, both will work in
                sync.
              </td>
            </tr>
            <tr>
              <th><kbd>touchThreshold</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">number</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >125</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The distance in pixels between the start and end of the
                touch/cursor drag.
              </td>
            </tr>
            <tr>
              <th><kbd>trackUrlHash</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >false</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `true`, the carouzel will try to read the hash parameter from
                the url and automatically scroll to the respective slide having
                the hash as its id.
              </td>
            </tr>
            <tr>
              <th><kbd>useTitlesAsDots</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">boolean</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >false</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                If `true`, the carouzel will read `data-carouzel-title`
                attribute and put it as markup in respective navigation dot. It
                works only when `slidesToShow` is 1.
              </td>
            </tr>
            <tr>
              <th><kbd>verticalHeight</kbd></th>
              <td class="bg-info bg-opacity-10">
                <span class="badge rounded-pill bg-info me-2">number</span
                ><span class="badge rounded-pill bg-light text-info me-2"
                  >480</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                The height in pixels for the vertical carouzel. This is required
                for vertical layout implementation.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row my-5">
      <div class="col text-center">
        <hr />
      </div>
    </div>
  </div>
</div>
